
<meta name="description" content="Who we are
        
    CyberVision is a software design and development company with R&amp;D facilities in US and Ukraine. For nearly two decades,  CyberVision designs and implements technology solutions that are deployed by a number of companies in high-tech industries. We are comprised of hundreds of professionals that provide a comprehensive set of services covering the entire life cycle of a solution." />
<meta name="description" content="Who we are: In the early 90’s, CyberVision was one of the first American companies to launch R&amp;D facilities in the former Soviet Union." />
<meta name="keywords" content="software development, custom IT solutions, application development" />
<meta name="generator" content="Drupal 7 (http://drupal.org)" />
    
    <meta http-equiv="Content-Language" content="en" />
    
    <style type="text/css" media="all">
@import url("http://www.cybervisiontech.com/modules/system/system.base.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/system/system.menus.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/system/system.messages.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/system/system.theme.css?njk7ie");
</style>
<style type="text/css" media="all">
@import url("http://www.cybervisiontech.com/modules/comment/comment.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/field/theme/field.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/node/node.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/search/search.css?njk7ie");
@import url("http://www.cybervisiontech.com/modules/user/user.css?njk7ie");
@import url("http://www.cybervisiontech.com/sites/all/modules/views/css/views.css?njk7ie");
</style>
<style type="text/css" media="all">
@import url("http://www.cybervisiontech.com/sites/all/modules/ctools/css/ctools.css?njk7ie");
</style>
<style type="text/css" media="all">
@import url("http://www.cybervisiontech.com/sites/all/themes/cvtheme/css/menu.css?njk7ie");
@import url("http://www.cybervisiontech.com/sites/all/themes/cvtheme/css/main.css?njk7ie");
@import url("http://www.cybervisiontech.com/sites/all/themes/cvtheme/css/pages/page.css?njk7ie");
</style>
      <!--<link rel='stylesheet' href='sites/all/themes/cvtheme/css/pages/page.css' type='text/css'/>-->
              <link rel='stylesheet' href='sites/all/themes/cvtheme/css/pages/fish_about.css' type='text/css'/>
      <!--<link rel='stylesheet' href='sites/all/themes/cvtheme/css/pages/cv2012-avaya.css' type='text/css'/>-->
      <!--<link rel='stylesheet' href='sites/all/themes/cvtheme/css/pages/media-q-1000.css' type='text/css'/>-->
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
            <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lte IE 8]><script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
            <style>#page{display: none !important;}</style>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        
              
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
        <script type="text/javascript">
         $(function() {

            $(".mini-menu > ul > li > a").click(function() {
                var ul = $(this).next(),
                        clone = ul.clone().css({"height":"auto"}).appendTo(".mini-menu"),
                        height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";
                clone.remove();
                ul.animate({"height":height});
                return false;
            });

        });
        </script>
        <script>
            jQuery(document).ready(function($){
                $("#mobile-menu-toggle").on("click", function(){
                    $(".mini-menu").slideToggle(); 
                        $(this).toggleClass("active");
                    });            
             });
        </script>
        <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11776644-2']);
      _gaq.push(['_setDomainName', 'cybervisiontech.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript" src="sites/all/themes/cvtheme/js/front/jquery.fish.min.js"></script>
              <script  http-equiv="Content-Type: text/javascript" src="sites/all/themes/cvtheme/js/about/fisheye-iutil.js"></script>
      <script http-equiv="Content-Type: text/javascript" src="sites/all/themes/cvtheme/js/about/about.js"></script>
          <script http-equiv="Content-Type: text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
            <script src="/sites/all/themes/cvtheme/css/owl-carusel/owl.carousel.js"></script>
        <link href="/sites/all/themes/cvtheme/css/owl-carusel/owl.carousel.css" rel="stylesheet">
        <link href="/sites/all/themes/cvtheme/css/owl-carusel/owl.theme.css" rel="stylesheet">  
        <script type="text/javascript">
                $(document).ready(function() {
                    var owl = $("#owl-demo");

                  owl.owlCarousel({        
                    itemsCustom : [
                      [0, 1],
                      [450, 1],
                      [600, 2],
                      [700, 2],
                      [1000, 2],
                      [1200, 3],
                      [1400, 3],
                      [1600, 3]
                    ],
                    navigation : true,
                    navigationText : ["<",">"],
                    autoPlay : 3000
                  });
                });
            </script>

  </head>
  <!-- cybervision theme -->
  <body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-1 node-type-page" >
  <div id="page">
    <!-------------------------------------->
      <!--Monitoring Code-->
      <script type="text/javascript" src="https://chat.banckle.com/livechat/visitor.do?dep=ba65999e-b85a-4c93-bad6-9aa8da2826ba"></script>
      <!--Chat Link Code-->
      
    <!----------------------------------->
        
<div id="header">
    <div id="theader">
      <a href='/' id="logo"></a>
      <div id="top">
        <div id="toptop">
          <div id="search" class="search_passive">
              <div class="region region-search-area">
    <div id="block-search-form" class="block block-search">


<div class="content">
<form action="/about-us" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
 <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text" />
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" /></div><input type="hidden" name="form_build_id" value="form-Oed5Q8LwVk_eATre12COkhq5nDlGJ4x6bfyBxXQLb9o" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form></div>
</div>  </div>
          </div>
        </div>
        <div id="menu">
                            <div class="region region-menu">
    <div id="block-system-main-menu" class="block block-system block-menu">



<li class="expanded"><a href="/data-management">Data Management</a><ul class="menu"><li class="first leaf"><a href="/data-management#mainframes_legacy_platforms" title="">Mainframes And Legacy Platforms</a></li>
<li class="leaf"><a href="/data-management#relational_database_management" title="">Relational Database Management</a></li>
<li class="last leaf"><a href="/nosql-big-data-solutions">NoSQL &amp; Big-Data Solutions</a></li>
</ul></li>
<li class="expanded"><a href="/managed-services">Managed Services</a><ul class="menu"><li class="first leaf"><a href="/microsoft-administration">Microsoft Administration</a></li>
<li class="leaf"><a href="/noc-services">NOC services</a></li>
<li class="last leaf"><a href="/network-architecture-audit">Network architecture audit</a></li>
</ul></li>
<li class="expanded"><a href="/software-development">Software Development</a><ul class="menu"><li class="first leaf"><a href="/software-development#system_analysis_design" title="">System Analysis &amp; Design</a></li>
<li class="leaf"><a href="/software-development#software_development" title="">Software Development</a></li>
<li class="last leaf"><a href="/software-development#software_qa-product_testing" title="">Software QA / Product Testing</a></li>
</ul></li>
<li class="leaf"><a href="/firmware-development">Firmware Development</a></li>
<li class="leaf"><a href="/application-maintenance">Application Maintenance</a></li>
<li class="leaf"><a href="/quality-assurance">Quality Assurance</a></li>
<li class="leaf"><a href="/customer-support">Customer Support</a></li>
<li class="leaf"><a href="/integration-and-deployment">Integration &amp; Deployment</a></li>
<li class="leaf"><a href="/training-and-certification">Training &amp; Certification</a></li>
<li class="leaf"><a href="/ria-development">RIA Development &amp; Integration</a></li>
<li class="last leaf"><a href="/embedded-programming">Embedded Programming</a></li>
</ul></li>
<li class="expanded"><a href="/kaa_platform">Kaa Platform</a><ul class="menu"><li class="first leaf"><a href="/kaa_platform" title="">Professional Services</a></li>
<li class="last leaf"><a href="/partnership">Partnership Program</a></li>
</ul></li>
<li class="leaf"><a href="http://blog.cybervisiontech.com/" title="">Blog</a></li>
<li class="last leaf"><a href="/contact-us">Contact Us</a></li>
</ul></div>
</div>  </div>
                    </div>
      </div>
            <a id="mobile-menu-toggle" href="#"><span>☰<span></span></span></a>
    </div>
</div>
<div id="page" class="">
        <div class="mini-menu">
        <ul>
            <a href="/">Home</a>
            <li><a href="/company">Company</a>
                        <ul> 
                            <li><a href="/company">Company</a></li>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/clients-and-partners">Clients and Partners</a></li>
                            <li><a href="/leadership-team">Leadership Team</a></li>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/technology-expertise">Our Technologies</a></li>
                            <li><a href="/partnership">Partnership Program</a></li>
                        </ul>
            </li>
            <li><a href="/solutions">Solutions</a>
                        <ul>
                            <li><a href="/solutions">Solutions</a></li>
                            <li><a href="/open-source-software-solutions">Open Source Software Solutions</a></li>
                            <li><a href="/customer-relationship-management">Customer Relationship Management</a></li>
                            <li><a href="/business-process-automation">Business Process Automation</a></li>
                            <li><a href="/mac-os-x-solutions">Mac OS X Solutions</a></li>
                            <li><a href="/telecom-solutions">Telecom Solutions</a></li>
                            <li><a href="/oss-bss-product-based-solutions">OSS/BSS product-based solutions</a></li>
                            <li><a href="/mobile-apps">Mobile Application Development</a></li>
                            <li><a href="/business-intelligence-data-warehousing">Business Intelligence &amp; Data Warehousing Solutions</a></li>
                        </ul>
            </li>
            <li><a href="/services">Services</a>
                        <ul>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/mobile-software-development">Mobile Software Development</a></li>                                
                            
            <a href="http://blog.cybervisiontech.com/" title="" id="ttp://blog.cybervisiontech.com/">Blog</a>
            <a href="/contact-us" id="contact-us">Contact Us</a>
        </ul>
    </div>

  
          
         
                    <div id="main-content-wrapper">
            <div id="main-content" class="centered-block clearfix">
            
           
                <div class="left-c">
                                                              
                                                        <div class="region region-content">
    <div id="block-system-main" class="block block-system">


<div class="content">



<div id="node-1" class="node node-page" about="/about-us" typeof="foaf:Document">

  
      <span property="dc:title" content="About Us" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><div class="dataprocessing">
<div style="text-align:center">
<h4>Who we are</h4>
</div>
<p>CyberVision is a software design and development company with R&amp;D facilities in US and Ukraine. For nearly two decades,  CyberVision designs and implements technology solutions that are deployed by a number of companies in high-tech industries. We are comprised of hundreds of professionals that provide a comprehensive set of services covering the entire life cycle of a solution.</p>
<p>Applying our expertise and bold innovation we offer ideas that utilize proprietary technologies and methodologies to conceptualize, prototype, test, finalize, deploy and maintain the final solution.  Our clients will attest that as a result of our cultural standard for excellence, we don’t just code software systems, we think strategically about the system lifecycle, scalability and maintenance.</p>
<div style="text-align:center">
<h4>What We Do</h4>
</div>
<p>Applying years of expertise in software design and development, we take our clients’ concepts and ideas through the project lifecycle - from organizational prerequisites and system analysis to deployment and maintenance.</p>
<p>Based on agile processes our teams implement methodologies that combine disciplined execution of high-level intellectual work with continuous innovation.</p>
<p>We offer extensive technical expertise in the following industries: mobility, telecom, big data, and IoT. Over the years we have built and deployed hundreds of projects of varying complexities utilizing diverse sets of technologies.</p>
<div class="table_block">
<h4>Our Principles</h4>

<div class="our_principles">
           <p>Our clients are our #1 priority. We strive to establish long lasting and mutually beneficial business relationships.</p>
</div>
<div class="our_principles">
            <p>We are committed to excellence. On every engagement our goal is to provide maximum value to the client.</p>
</div>
<div class="our_principles">
            <p>We strive to provide a workplace that inspires innovation. CyberVision seeks out top graduates with engineering degrees across Ukraine and US.</p>
</div>
</div>
</div>
</div></div></div>  </div>

  <div class="clearfix">
          <div class="links"></div>
    
      </div>

</div>

</div>
</div>  </div>
                                  </div>
                <div class="separator-c"></div>
                <div class="right-c">
                  
                                  </div>
                <div class="right-c-2">
                                  </div>
              </div>
              
              <div id="main-content-bottom-border"></div>
            </div>
          </div>
        </div><!--main-->
      </div>
    </div><!--main-area-->
    
</div><!-- /#wrapper--> 
    </div>
</div>

<!--footer-->
<div id="footer">
 <div>
    <div id="list">
    <div class="footer_menu">
            <div class="column w13">
                <p><a href="/solutions" class="title">Solutions</a></p>
                <ul>
                    <li><a href="/telecom-solutions">Telecom Solutions</a></li>
                    <li><a href="/oss-bss-product-based-solutions">OSS/BSS product-based solutions</a></li>
                    <li><a href="/manufacturing-software-solutions">Manufacturing Software Solutions</a></li>
                    <li><a href="/business-process-automation">Business Process Automation</a></li>
                </ul>
            </div>
            <div class="column w13">
                <p><a href="/services" class="title">Services</a></p>
                <ul>
                    <li><a href="/software-development">Software Development</a></li>
                    <li><a href="/managed-services">Managed Services</a></li>
                    <li><a href="/integration-and-deployment">Integration & Deployment</a></li>
                    <li><a href="/it-consulting">IT Consulting</a></li>
                </ul>
            </div>
            <div class="column w13">
                <p><a href="/company" class="title">Company</a></p>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                  <li><a href="/methodology">Our Methodology</a></li>
          <li><a href="/leadership-team">Leadership Team</a></li>         
                    <li><a href="/careers">Careers</a></li>
                </ul>
            </div>
    </div>
        </div>
        <div class="wrap">
            <div id="copyright">
                <span>&copy 1997 - 2015 CyberVision, Inc. All Rights Reserved. &nbsp; </span><a href='/internet-privacy-policy'>Internet&nbsp Privacy&nbsp Policy</a> <span>|</span> <a href="/sitemap">Sitemap</a>
            </div>
        </div>
        </div>
</div>      </div>

  </body>
</html>
