<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/ru/d/dd/%D0%9B%D0%B8%D1%87%D0%BD%D0%BE%D0%B5_%D1%84%D0%BE%D1%82%D0%BE_%D1%83%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%D0%B0_ISNik.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
}
</style>
</head>
<body>

<h1>Hello World!</h1>
<p>W3Schools background no-repeat, set position example.</p>
<p>Now the background image is only shown once, and positioned away from the text.</p>
<p>In this example we have also added a margin on the right side, so the background image will never disturb the text.</p>

</body>
</html>







