<!DOCTYPE html>
<html id='custDomain'>
<head>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"1310fd97f1","applicationID":"4014257","transactionName":"IVZWR0tbWF4BFxhWVw1SSxxRW1lXFARQUQ==","queueTime":11,"applicationTime":262,"ttGuid":"","agentToken":null,"agent":"js-agent.newrelic.com/nr-593.min.js"}</script>
<script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(n,e,t){function r(t){if(!e[t]){var o=e[t]={exports:{}};n[t][0].call(o.exports,function(e){var o=n[t][1][e];return r(o?o:e)},o,o.exports)}return e[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(n,e){function t(n){function e(e,t,a){n&&n(e,t,a),a||(a={});for(var u=c(e),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(n,e){f[n]=c(n).concat(e)}function c(n){return f[n]||[]}function u(){return t(e)}var f={};return{on:a,emit:e,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=n("gos");e.exports=t()},{gos:"7eSDFh"}],ee:[function(n,e){e.exports=n("QJf3ax")},{}],3:[function(n,e){function t(n){return function(){r(n,[(new Date).getTime()].concat(i(arguments)))}}var r=n("handle"),o=n(1),i=n(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(n,e){window.NREUM[e]=t("api-"+e)}),e.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],gos:[function(n,e){e.exports=n("7eSDFh")},{}],"7eSDFh":[function(n,e){function t(n,e,t){if(r.call(n,e))return n[e];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(n,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return n[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=t},{}],D5DuLP:[function(n,e){function t(n,e,t){return r.listeners(n).length?r.emit(n,e,t):(o[n]||(o[n]=[]),void o[n].push(e))}var r=n("ee").create(),o={};e.exports=t,t.ee=r,r.q=o},{ee:"QJf3ax"}],handle:[function(n,e){e.exports=n("D5DuLP")},{}],XL7HBI:[function(n,e){function t(n){var e=typeof n;return!n||"object"!==e&&"function"!==e?-1:n===window?0:i(n,o,function(){return r++})}var r=1,o="nr@id",i=n("gos");e.exports=t},{gos:"7eSDFh"}],id:[function(n,e){e.exports=n("XL7HBI")},{}],loader:[function(n,e){e.exports=n("G9z0Bl")},{}],G9z0Bl:[function(n,e){function t(){var n=h.info=NREUM.info;if(n&&n.licenseKey&&n.applicationID&&f&&f.body){c(l,function(e,t){e in n||(n[e]=t)}),h.proto="https"===d.split(":")[0]||n.sslForHttp?"https://":"http://",a("mark",["onload",i()]);var e=f.createElement("script");e.src=h.proto+n.agent,f.body.appendChild(e)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=n("handle"),c=n(1),u=(n(2),window),f=u.document,s="addEventListener",p="attachEvent",d=(""+location).split("?")[0],l={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-593.min.js"},h=e.exports={offset:i(),origin:d,features:{}};f[s]?(f[s]("DOMContentLoaded",o,!1),u[s]("load",t,!1)):(f[p]("onreadystatechange",r),u[p]("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],12:[function(n,e){function t(n,e){var t=[],o="",i=0;for(o in n)r.call(n,o)&&(t[i]=e(o,n[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;e.exports=t},{}],13:[function(n,e){function t(n,e,t){e||(e=0),"undefined"==typeof t&&(t=n?n.length:0);for(var r=-1,o=t-e||0,i=Array(0>o?0:o);++r<o;)i[r]=n[e+r];return i}e.exports=t},{}]},{},["G9z0Bl"]);</script>
<script src='//cdn.optimizely.com/js/1197428788.js' type='text/javascript'></script>

<title>Ruby on Rails Tutorial (3rd Ed.), Learn Web Development with Rails - Michael Hartl |  Softcover.io</title>
<meta charset='UTF-8'>
<script>
  window.Config = {
    bucket: "softcover",
    previewBucket: "softcover-cloud"
  }
</script>
<link href="https://www.softcover.io/assets/reading-999e381e04a7bc05aa6938edda31ac8d.css" media="screen" rel="stylesheet" type="text/css" />
<link href='https://www.softcover.io/assets/print-ca85c1c74168e935ca4e2e958a3a5c2b.css' media='print' rel='stylesheet' type='text/css'>
<script src='//code.jquery.com/jquery-2.0.3.min.js' type='text/javascript'></script>
<script src='//cdn.jsdelivr.net/formalize/0.1/js/jquery.formalize.min.js' type='text/javascript'></script>
<script src='//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js' type='text/javascript'></script>
<script src='https://js.stripe.com/v1/' type='text/javascript'></script>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<script src="https://www.softcover.io/assets/application-1556ca6f51638a97df9b2e4e94d02fa9.js" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="+Evhw2jfMyjCJ5n1VUBKcCJo/NfI7MF0C/8v7BV9dD8=" name="csrf-token" />
<link href='/apple-touch-icon-precomposed.png' rel='apple-touch-icon-precomposed'>
<meta content='http://www.railstutorial.org' property='og:url'>
<meta content='Ruby on Rails Tutorial (3rd Ed.)' property='og:title'>
<meta content='The Ruby on Rails Tutorial book and screencast series teach you how to develop and deploy real, industrial-strength web applications with Ruby on Rails, the open-source web framework that powers top websites such as Twitter, Hulu, GitHub, and the Yellow Pages. The Ruby on Rails Tutorial book is available for free online and is available for purchase as an ebook (PDF, EPUB, and MOBI formats). The companion screencast series includes 12 individual lessons, one for each chapter of the Ruby on Rails Tutorial book. All purchases also include a free copy of the Solutions Manual for Exercises, with solutions to every exercise in the book.' property='og:description'>
<meta content='Softcover.io' property='og:site_name'>
<meta content='https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/cover-web.png' property='og:image'>
<meta content='https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/cover-web.png' property='og:image:secure_url'>
<meta content='image/png' property='og:image:type'>
<meta content='500' property='og:image:width'>
<meta content='500' property='og:image:height'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,300,700|Open+Sans+Condensed:700|Josefin+Slab:400italic' rel='stylesheet' type='text/css'>
<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<script src='https://www.google.com/jsapi' type='text/javascript'></script>
<script>
  // test key only
  // this identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_live_Xn1p0BfxqKxkAxtEr03P7wmd');
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('require', 'linker');
  ga('linker:autoLink', ['www.railstutorial.org', 'softcover.io']);

  ga('create', 'UA-46858978-1', 'softcover.io', {'allowLinker': true});
  ga('send', 'pageview');

  ga('create', 'UA-8667566-1', 'auto', {
    'name': 'book',
    'allowLinker': true
  });

  ga('book.send', 'pageview');

</script>
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>


<script src='https://www.softcover.io/books/107/custom_domain_js.js?nocache=0.6995082638889396' type='text/javascript'></script>
</head>
<body>
<noscript>
<div id='noscript'>
<h2>Please enable javascript</h2>
This site requires you to allow Javascript to run in the browser for all features to work. Thank you!
</div>
</noscript>
<script type='text/javascript'>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
window.fbAsyncInit = function() {
FB.init({
appId      : '145973438749643',
xfbml      : true,
version    : 'v2.0'
});
};
(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class='closeLeft container'>
<div class='container_footer'>
<div id='header'>
<div class='wrapper'>
<a href="https://www.railstutorial.org/" class="logo"><img alt="Logo" src="https://www.softcover.io/assets/logo-e741419bc04d21db7e60ddc10883b4f9.png" />
<a href="javascript://" id="mobileMenu"><div class='closedMenu'>
≡
<span>Menu</span>
</div>
<div class='openMenu'>
x
<span>Close</span>
</div>
</a></a><div class='j_userHeader closeLeft' style='display:inline'><ul class='headerMenu'>
<li><a href="https://www.softcover.io/login">Log In</a></li>
<li><a href="https://www.softcover.io/account/sign_up">Sign Up</a></li>
</ul>
</div>
<div id='dropBG'></div>
<div class='clear'></div>
</div>
</div>

<div id='pageMarketing'>
<div id='bookHeader'>
<div class='wrapper'>
<div class='bookCover'>
<a href="/book"><img alt="Cover-web" class="cover" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/cover-web.png" />
<img alt="Cover_bg" class="coverBG" src="https://www.softcover.io/assets/cover_bg-88b6816f72bba1e853bbfcd1caff472a.png" />
<p>
<i class='ibooksMedia iRead'></i>
READ ONLINE FREE
</p>
</a></div>
<div class='bookInfo'>
<h1>
Ruby on Rails Tutorial (3rd Ed.)
<span class='j_subtitle'>Learn Web Development with Rails</span>
<strong>Michael Hartl</strong>
</h1>
<p class='j_description'>
 The Ruby on Rails Tutorial book and screencast series teach you how to develop and deploy real, industrial-strength web applications with Ruby on Rails, the open-source web framework that powers top websites such as Twitter, Hulu, GitHub, and the Yellow Pages. The Ruby on Rails Tutorial book is available for free online and is available for purchase as an ebook (PDF, EPUB, and MOBI formats). The companion screencast series includes 12 individual lessons, one for each chapter of the Ruby on Rails Tutorial book. All purchases also include a free copy of the Solutions Manual for Exercises, with solutions to every exercise in the book. 

</p>

<div class='j_showPageHeader'><div class='bookControls'>
<a href="#pricing"><button class='attention'>Buy Now</button>
</a><a href="https://www.softcover.io/email-capture/28fdb94f/ruby_on_rails_tutorial_3rd_edition"><button>Free Previews</button>
</a><a href="mailto:admin@railstutorial.org"><button class='transBG'>Contact Author</button>
</a></div>
</div>
<div class='bookHeaderShare'>
<label>Share this book</label>
<div class='fb-like' data-action='like' data-href='http://www.railstutorial.org' data-layout='button_count' data-share='true' data-show-faces='false'></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="Ruby on Rails Tutorial (3rd Ed.)" data-url="http://www.railstutorial.org"><i class='fa fa-twitter'></i>
</a></div>

</div>
<div id='email'>
<div class='content'>
<strong>STAY UP TO DATE!</strong>
<p>Joining the email list for this book will allow the author to contact you to let you know about special offers and when updates for the book are available.</p>
<div class='j_followBookForm'><form accept-charset="UTF-8" action="https://www.softcover.io/follow/28fdb94f/ruby_on_rails_tutorial_3rd_edition" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
<!-- %input{name: "name", type: "text", placeholder: "YOUR NAME"} -->
<input name='email' placeholder='YOUR EMAIL ADDRESS' type='text'>
<input class='greyButton optClick_follow' type='submit' value='Follow Book'>
</form>

</div>
</div>
</div>

</div>
</div>

<div id='buy'>
<h3 class=''>
<div class='wrapper'>
<span>
<a name='pricing'></a>
Pricing Options
</span>
</div>
</h3>
<!-- RAILS TUTORIAL SPECIFIC CLASS BELOW - NEEDS TO EVENTUALY BE FIXED OR MADE GLOBAL -->
<div class='wrapper'>
<ul id='buyOptions'>
<li class='' id='html_ebook_and_solutions_manual'>
<i class='bookPricingIcon iconEbook'></i>
<div class='bookPriceContent'>
<div class='bookPrice'>
<a href="https://www.softcover.io/buy/28fdb94f/ruby_on_rails_tutorial_3rd_edition?option=ebooks"><button>PURCHASE</button>
</a>$49.00
</div>
<strong class='anchor'>HTML, Ebook, and Solutions Manual</strong>
<ul>
  <li>DRM-free copies of the <em>Ruby on Rails Tutorial</em> 3rd Edition ebooks in EPUB, MOBI, and PDF formats</li>
  <li>Over 700 pages of content</li>
  <li>Fully updated for the latest version of Rails</li>
  <li>Free copy of the <em>Solutions Manual for Exercises</em>, with solutions to every exercise in the book (HTML, EPUB, MOBI, and PDF)</li>
</ul>

</div>
<div id='bundleList'>
<h2>Bundled Items</h2>
<ul>
<li>
<a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual"><img alt="Cover-web" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_solutions_manual/images/cover-web.png" /></a>
<p>
<strong><a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual">Ruby on Rails Tutorial Solutions Manual for Exercises</a></strong>
</p>
<p>
HTML &amp; Ebook
</p>
</li>
</ul>
</div>
</li>
<li class='' id='html_ebooks_and_screencast_videos'>
<i class='bookPricingIcon iconEbook'></i>
<div class='bookPriceContent'>
<div class='bookPrice'>
<a href="https://www.softcover.io/buy/28fdb94f/ruby_on_rails_tutorial_3rd_edition?option=html_ebooks_screencasts"><button>PURCHASE</button>
</a>$149.00
</div>
<strong class='anchor'>HTML, Ebooks, and Screencast videos</strong>
<ul>
  <li>The full Ruby on Rails Tutorial screencast series (3rd edition)</li>
  <li>12 screencast lessons (one for each chapter), with more than 15 hours of downloadable HD video (<a href="http://youtu.be/BCebRWbP3n8" rel="nofollow">see the teaser trailer</a> or <a href="http://youtu.be/zrOf4lXzF4E" rel="nofollow">view a free sample lesson</a>)</li>
  <li>DRM-free copies of the 3rd Edition <em>Ruby on Rails Tutorial</em> ebooks</li>
  <li>Fully updated for the latest version of Rails</li>
  <li>Free copy of the <em>Solutions Manual</em></li>
</ul>

</div>
<div id='bundleList'>
<h2>Bundled Items</h2>
<ul>
<li>
<a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual"><img alt="Cover-web" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_solutions_manual/images/cover-web.png" /></a>
<p>
<strong><a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual">Ruby on Rails Tutorial Solutions Manual for Exercises</a></strong>
</p>
<p>
HTML &amp; Ebook
</p>
</li>
</ul>
</div>
</li>
<li class='' id='html_ebooks_screencast_videos_all_previous_versions'>
<i class='bookPricingIcon iconEbook'></i>
<div class='bookPriceContent'>
<div class='bookPrice'>
<a href="https://www.softcover.io/buy/28fdb94f/ruby_on_rails_tutorial_3rd_edition?option=html_ebooks_screencasts_previous_editions"><button>PURCHASE</button>
</a>$299.00
</div>
<strong class='anchor'>HTML, Ebooks, Screencast videos, All previous versions</strong>
<ul>
  <li>The full Ruby on Rails Tutorial screencast series (3rd edition)</li>
  <li>DRM-free copies of the 3rd Edition <em>Ruby on Rails Tutorial</em> ebooks</li>
  <li>Free copy of the <em>Solutions Manual</em></li>
  <li>Copies of all previous versions of the <em>Ruby on Rails Tutorial</em> ebooks (Rails 4.0 version, 2nd edition, 1st edition, Rails 2.3 version)</li>
  <li>Copies of all previous editions of the <em>Ruby on Rails Tutorial</em> screencasts (4.0 supplement, 2nd edition, 1st edition)</li>
  <li>Over 2000 pages of content and over 40 hours of video</li>
</ul>

</div>
<div id='bundleList'>
<h2>Bundled Items</h2>
<ul>
<li>
<a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual"><img alt="Cover-web" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_solutions_manual/images/cover-web.png" /></a>
<p>
<strong><a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial_solutions_manual">Ruby on Rails Tutorial Solutions Manual for Exercises</a></strong>
</p>
<p>
HTML &amp; Ebook
</p>
</li>
<li>
<a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial"><img alt="Cover-web" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial/images/cover-web.png" /></a>
<p>
<strong><a href="https://www.softcover.io/books/28fdb94f/ruby_on_rails_tutorial">Ruby on Rails Tutorial (4.0 version &amp; 2nd Ed.)</a></strong>
</p>
<p>
HTML, Ebooks, and Screencasts
</p>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
<div id='bookTestimonials'>
<div id='bookAuthor'>
<div class='wrapper'>
<div id='bookAuthorBio'>
<div class='bookAvatar'><img alt="Gravatar" height="200" src="https://secure.gravatar.com/avatar/ffda7d145b83c4b118f982401f962ca6?secure=true&size=200" width="200" /></div>
<div class='bookAuthorBioContent'>
<h2>About the Author</h2>
<strong>Michael Hartl</strong>
<p><a href="http://michaelhartl.com" rel="nofollow">Michael Hartl</a> is the author of the Ruby on Rails Tutorial, one of the leading introductions to web development, and is a cofounder of the <a href="http://www.softcover.io/" rel="nofollow">Softcover</a> self-publishing platform. His prior experience includes writing and developing RailsSpace, an extremely obsolete Rails tutorial book, and developing Insoshi, a once-popular and now-obsolete social networking platform in Ruby on Rails. In 2011, Michael received a <a href="http://rubyheroes.com/heroes" rel="nofollow">Ruby Hero Award</a> for his contributions to the Ruby community. He is a graduate of <a href="http://college.harvard.edu/" rel="nofollow">Harvard College</a>, has a <a href="http://resolver.caltech.edu/CaltechETD:etd-05222003-161626" rel="nofollow">Ph.D. in Physics</a> from <a href="http://www.caltech.edu/" rel="nofollow">Caltech</a>, and is an alumnus of the <a href="http://ycombinator.com/" rel="nofollow">Y Combinator</a> entrepreneur program.</p>

<div class='authorContact'>
<a href="mailto:admin@railstutorial.org"><button class='transBG buttonIcon buttonContact'></button>
</a></div>
</div>
</div>
</div>
</div>

<div class='wrapper'>
<h2>TESTIMONIALS</h2>
<ul>
<li>
<div class='bookAvatar'><img alt="Dhh" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/DHH.jpg" /></div>
<span>
David Heinemeier Hansson
-
Founder &amp; CTO, Basecamp; Creator, Ruby on Rails
<p>3rd edition of @<a href="http://twitter.com/mhartl" rel="nofollow">mhartl</a>’s much celebrated The Ruby on Rails Tutorial is out in draft: <a href="http://news.railstutorial.org/rails_tutorial_3rd_edition/" rel="nofollow">http://news.railstutorial.org/rails_tutorial_3rd_edition/</a> — looks like a great upgrade!</p>

<p>[<a href="https://twitter.com/dhh/status/505183210993905664" rel="nofollow">source</a>]</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Jimmywales" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/JimmyWales.jpg" /></div>
<span>
Jimmy Wales
-
Founder, Wikipedia
<p><strong>Q:</strong> What is Jimmy Wales’s favorite book?</p>

<p><strong>A:</strong> It changes often. At the moment, it’s <strong>Ruby on Rails Tutorial</strong> by Michael Hartl. :)</p>

<p>[<a href="http://www.quora.com/Jimmy-Wales-1/What-is-Jimmy-Waless-favorite-book?share=1" rel="nofollow">source</a>]</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Dereksiverssmall" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/DerekSiversSmall.jpg" /></div>
<span>
Derek Sivers
-
Entrepreneur, programmer
<p>My former company (CD Baby) was one of the first to loudly switch to Ruby on Rails, and then even more loudly switch back to PHP… This book by Michael Hartl came so highly recommended that I had to try it, and <strong>the Ruby on Rails Tutorial is what I used to switch back to Rails again</strong>… Though I’ve worked my way through many Rails books, this is the one that finally made me “get” it.</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Petercooper" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/PeterCooper.jpg" /></div>
<span>
Peter Cooper
-
Ruby Inside
<p>I got review access to all of the material and can confirm that, yes, <strong>these screencasts are awesome</strong>… If you basically want to be able to look “over the shoulder” of an experienced Rails developer and see how a Rails development environment is set up and how multiple apps are built, <strong>there’s nothing that can beat this</strong>. This isn’t a set of “build a blog in 15 minutes” videos—it’s a complete course that could kick off a new career for you with Rails.</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Alanmccann" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/AlanMcCann.png" /></div>
<span>
Alan McCann
-
COO, DailyUpdate.com
<p>Michael’s original Ruby on Rails tutorial got me from someone who read Rails books to someone who actually was able to develop basic Rails apps—his teaching methodology somehow got me involved like no other book and allowed me to produce results quickly and gain confidence. The new screencast series got me to a whole other level of understanding.</p>

<p>Imagine going through the tutorial but having the pro-level developer behind the tutorial giving you a running commentary with tips, tricks, and useful detours—all while contributing to your growth as a Rails developer with a test-driven approach. I’ve always known that understanding how experts think about what they do is the key to learning and mastering something. In this screencast format, Michael was able to go beyond the limitations of the written word and both show and explain his approach to Rails development in an engaging manner.</p>

<p>If you are early in your days with Rails, just buy this series.</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Mikeriley" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/MikeRiley.jpg" /></div>
<span>
Mike Riley
-
Dr. Dobbs
<p>Written and presented by theoretical physicist Michael Hartl, Ruby on Rails Tutorial offers a superb introduction to the world of a Rails developer. The Rails Tutorial PDF and complete training video set is an absolutely top-notch package for learning the Rails framework…”</p>

<p>I can’t emphasize enough how much I enjoyed the Ruby on Rails Tutorial book+video bundle. railstutorial.org will no doubt educate legions of beginning and intermediate Rails developers, and will be one of those resources that students who complete the book and video course will refer to often. Because Michael offers the full contents of the book available for free on the website, both the book and videos are sure to become some of the most frequently cited educational references among Rails students. This package will no doubt play a major catalytic role in many Rails technical training and development careers.</p>

<p>If you have any interest in Rails, you owe it to yourself and your educational investment to obtain this superb package. It will likely be one of the best and most educationally rewarding purchases you will make this year.</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Mikelong" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/MikeLong.jpg" /></div>
<span>
Mike Long
-
Software Engineer
<p>Just finished the outstanding <a href="http://twitter.com/railstutorial" rel="nofollow">@railstutorial</a>. Probably the best software tutorial I’ve experienced since K&amp;R [<em>The C Programming Language</em> by Kernighan &amp; Ritchie].</p>

<p>[<a href="https://twitter.com/meekrosoft/statuses/2095543769632768" rel="nofollow">source</a>]</p>

</span>
</li>
<li>
<div class='bookAvatar'><img alt="Danielauger" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_3rd_edition/images/DanielAuger.jpg" /></div>
<span>
Daniel Auger
-
Systems Architect for Minnesota Secretary of State
<p>For what it’s worth: I had fantastic customer service from <a href="http://twitter.com/railstutorial" rel="nofollow">@railstutorial</a> today. Buy with confidence my friends.</p>

<p>[<a href="https://twitter.com/danielauger/status/27986474960" rel="nofollow">source</a>]</p>

</span>
</li>
</ul>
</div>
</div>
<div id='bookFAQ'>
<h3>
<div class='wrapper'>
<span>FAQ</span>
</div>
</h3>
<div class='wrapper marketingContent'>
<ul>
<li>
<h2 class='anchor' id='what_are_ruby_and_ruby_on_rails'>What are Ruby and Ruby on Rails?</h2>
<p>Ruby is a general-purpose programming language, and Ruby on Rails  (or “Rails” for short) is a framework for making web applications written in Ruby.</p>

</li>
<li>
<h2 class='anchor' id='why_should_i_learn_ruby_on_rails'>Why should I learn Ruby on Rails?</h2>
<p>Ruby on Rails is one of the most powerful and popular web development frameworks available, used by sites like Twitter, GitHub, Airbnb, and Hulu. Learning Rails will give you the tools you need to make your own web applications, while also putting you in a good position to work for a web development consultancy, startup, or other tech company.</p>

</li>
<li>
<h2 class='anchor' id='what_is_the_ruby_on_rails_tutorial'>What is the Ruby on Rails Tutorial?</h2>
<p><em>The Ruby on Rails Tutorial: Learn Web Development with Rails</em> is the 3rd edition of a book and a screencast series designed to teach web development with the Ruby on Rails web framework.</p>

</li>
<li>
<h2 class='anchor' id='who_should_study_the_ruby_on_rails_tutorial'>Who should study the Ruby on Rails Tutorial?</h2>
<p>The Ruby on Rails Tutorial is designed for anyone who wants to learn how to develop web applications. This audience includes entrepreneurs, small business owners, aspiring developers, and experienced developers with experience in other languages or frameworks.</p>

</li>
<li>
<h2 class='anchor' id='is_the_ruby_on_rails_tutorial_appropriate_for_complete_beginners'>Is the Ruby on Rails Tutorial appropriate for complete beginners?</h2>
<p>The Ruby on Rails Tutorial is likely to be very challenging if you have no programming experience at all, but many beginners have reported that they were able to get through it with enough determination (in some cases, by going through the entire tutorial twice!).</p>

</li>
<li>
<h2 class='anchor' id='what_are_the_prerequisites_for_the_ruby_on_rails_tutorial'>What are the prerequisites for the Ruby on Rails Tutorial?</h2>
<p>There are no formal prerequisites, but I recommend familiarity with HTML and CSS, and some previous programming experience is helpful.</p>

</li>
<li>
<h2 class='anchor' id='does_the_rails_tutorial_use_the_latest_version_of_rails'>Does the Rails Tutorial use the latest version of Rails?</h2>
<p>Yes, <em>The Ruby on Rails Tutorial: Learn Web Development with Rails</em> is fully up-to-date with the latest version of Rails. </p>

</li>
<li>
<h2 class='anchor' id='what_does_the_ruby_on_rails_tutorial_cover'>What does the Ruby on Rails Tutorial cover?</h2>
<p>Here are the chapter titles for the 3rd edition of the <em>Ruby on Rails Tutorial</em>:</p>

<ol>
  <li>From zero to deploy</li>
  <li>A toy app</li>
  <li>Mostly static pages</li>
  <li>Rails-flavored ruby</li>
  <li>Filling in the layout</li>
  <li>Modeling users</li>
  <li>Sign up</li>
  <li>Log in, log out</li>
  <li>Updating, showing, and deleting users</li>
  <li>Account activation and password resets</li>
  <li>User microposts</li>
  <li>Following users</li>
</ol>

<p>See the full <a href="/book" rel="nofollow">table of contents</a> for more details.</p>

</li>
<li>
<h2 class='anchor' id='how_is_the_screencast_series_related_to_the_book_s_content'>How is the screencast series related to the book’s content?</h2>
<p>The screencast series includes all the content from the book, while adding dozens of tips and tricks to help you go beyond the text, including debugging hints, testing techniques, and more detailed explanations of some of the finer points of web development. And though the screencasts are carefully edited, I’ve left in some of the problems I encountered along the way, so that you can learn how to recover from the inevitable application errors—and see that even experts sometimes make mistakes.</p>

<p>The content of the screencasts is based on the <a href="http://www.railstutorial.org/book" rel="nofollow">3rd edition of the Rails Tutorial</a>, which uses the latest version of Rails.</p>

</li>
<li>
<h2 class='anchor' id='how_do_i_view_the_screencasts'>How do I view the screencasts?</h2>
<p>Once you make your purchase, the screencasts are available as downloadable HD video files (MP4 format) and can be viewed on your computer or tablet device.</p>

</li>
<li>
<h2 class='anchor' id='what_about_single_page_web_frameworks_like_angular_backbone_and_ember'>What about single-page web frameworks like Angular, Backbone, and Ember?</h2>
<p>While some applications benefit from a JavaScript-heavy front-end, most applications are still more naturally structured as a collection of documents, and Rails is a better fit for this more common case. In addition, JavaScript frameworks like Angular and Ember still need a back-end to process requests, talk to the database, etc.—a job at which Rails excels. (Indeed, two of the core Ember developers are also current and former members of the Rails core team.)</p>

</li>
<li>
<h2 class='anchor' id='do_i_have_to_buy_a_subscription_to_the_cloud9_ide_to_complete_the_rails_tutorial'>Do I have to buy a subscription to the Cloud9 IDE to complete the Rails Tutorial?</h2>
<p>No, Cloud9 has a free tier that is perfect for doing the tutorial without committing to a monthly fee.</p>

</li>
<li>
<h2 class='anchor' id='where_can_i_find_the_latest_updates_about_the_ruby_on_rails_tutorial'>Where can I find the latest updates about the Ruby on Rails Tutorial?</h2>
<p>The best thing to do is to <a href="https://www.railstutorial.org/#email" rel="nofollow">join the email list</a>. Announcements are also typically available online via the <a href="http://news.railstutorial.org/" rel="nofollow">Rails Tutorial News feed</a>.</p>

</li>
<li>
<h2 class='anchor' id='is_there_a_print_edition_of_the_rails_tutorial'>Is there a print edition of the Rails Tutorial?</h2>
<p>The print edition will be available for separate purchase by Addison-Wesley and is scheduled to be released in Spring 2015.</p>

</li>
<li>
<h2 class='anchor' id='are_the_previous_versions_of_the_rails_tutorial_still_available_online'>Are the previous versions of the Rails Tutorial still available online?</h2>
<p>Yes, previous versions are available at the following links:</p>

<ul>
  <li><a href="http://rails-4-0.railstutorial.org/" rel="nofollow">Rails 4.0 version</a></li>
  <li><a href="http://rails-3-2.railstutorial.org/" rel="nofollow">Rails 3.2 (updated 2nd edition)</a></li>
  <li><a href="http://ruby.railstutorial.org/book?version=3.0" rel="nofollow">Rails 3.0 (updated 1st edition)</a></li>
  <li><a href="http://ruby.railstutorial.org/book?version=2.3" rel="nofollow">Rails 2.3 (pre–1st edition)</a></li>
</ul>

</li>
<li>
<h2 class='anchor' id='should_i_report_a_tiny_typo_i_found'>Should I report a tiny typo I found?</h2>
<p>Typo reports, no matter how small, are gratefully received. Please send reports via email to the address below.</p>

</li>
<li>
<h2 class='anchor' id='how_do_i_contact_the_author'>How do I contact the author?</h2>
<p>You can reach me by email at <code>admin at railstutorial dot org</code>.</p>

</li>
<li>
<h2 class='anchor' id='do_you_offer_a_money_back_guarantee'>Do you offer a money-back guarantee?</h2>
<p>Yes, every Rails Tutorial purchase comes with a 60-day money-back guarantee.</p>

</li>
</ul>
</div>
</div>
<div id='bookFreeForm'>
<div class='wrapper marketingContent'>
<h2>MORE INFO</h2>
<p>The Ruby on Rails Tutorial helps you learn Rails by example through the development of a substantial sample application, including a site layout, a user data model, a full registration and authentication system, user-micropost associations, social “following”, and a feed of status updates. The Ruby on Rails Tutorial also teaches good software development practices, including version control with Git and GitHub, test-driven development (TDD) and integration testing, and instant deployment with Heroku. Though of necessity the book and screencasts focus on a specific sample application, the emphasis throughout the Rails Tutorial is on general principles, so you will have a solid foundation no matter what kind of web application you want to build.</p>

<h3 id="new-in-the-current-edition">New in the current edition</h3>
<ul>
  <li>Fully updated for the latest version of Rails</li>
  <li>Use of a free integrated development environment in the cloud for maximum cross-platform compatibility</li>
  <li>100% default stack use of the Rails framework for greatest ease of use</li>
  <li>Lightweight, intuitive approach to testing</li>
  <li>Completely rewritten chapter on login and authentication</li>
  <li>All-new section on image upload</li>
  <li>All-new chapter on account activation and password resets, including sending email with Rails</li>
  <li>Strong focus on universal principles of web development</li>
</ul>

<h3 id="translations">Translations</h3>

<p>Translations of the Ruby on Rails Tutorial are available in several languages:</p>

<ul>
  <li><a href="http://railstutorial-china.org/">Chinese translation of the Ruby on Rails Tutorial</a></li>
  <li><a href="http://railstutorial.ru/">Russian translation of the Ruby on Rails Tutorial</a></li>
  <li><a href="http://railstutorial.jp/">Japanese translation of the Ruby on Rails Tutorial</a></li>
</ul>

<h3 id="help">Help</h3>

<p>Web development is a tricky business, and despite the best efforts of the
tutorial it’s likely that you’ll run into trouble at some point. If you do, I suggest comparing your code to the <a href="https://github.com/mhartl/sample_app_3rd_edition">reference implementation of the sample app</a> to track down any discrepancies. You can also post your question at <a href="http://stackoverflow.com/">Stack Overflow</a> using
the tag <code>railstutorial.org</code>. (<a href="http://stackoverflow.com/questions/tagged/railstutorial.org">Click
here</a> to
see questions labeled with that tag.) The creators of the
<a href="http://www.reddit.com/r/learn_rails">Learn_Rails subreddit</a> have
graciously offered to answer questions as well.</p>

<p>Errors in the tutorial can be reported <a href="#contact">by email</a>, but please triple-check by comparing with the <a href="https://github.com/mhartl/sample_app_3rd_edition">reference implementation of the sample app</a> first.</p>

<h4 id="debugging-tips">Debugging tips</h4>

<p>While it’s impossible to anticipate every potential problem, here are
some debugging tips that might help:</p>

<ul>
  <li>Have you compared your code to the <a href="https://github.com/mhartl/sample_app_3rd_edition">reference implementation of the sample app</a>?</li>
  <li>Are you using the exact gem versions (including Rails) used in the
tutorial?</li>
  <li>Did you restart the web server?</li>
  <li>Did you kill all relevant Spring processes (as <a href="http://draft.railstutorial.org/book/static_pages#aside-processes">described in the book</a>)?</li>
  <li>Did you copy-and-paste from the book’s code? (Experience shows that typing in code, while a better learning technique in general, is error-prone, so when in doubt be sure to copy all code exactly.)</li>
  <li>Did you re-run <code>bundle install</code>?</li>
  <li>Did you try running <code>bundle update</code>?</li>
  <li>Did you try Googling the error message?</li>
</ul>

<p>If your problem is of a general nature, such as having issues installing
Rails or configuring your system, I suggest posting to <a href="http://stackoverflow.com/">Stack
Overflow</a> (again using the tag
<code>railstutorial.org</code>), sending a message to the
<a href="http://groups.google.com/group/rubyonrails-talk">Ruby on Rails Talk</a>
mailing list, or posting to the <a href="http://www.reddit.com/r/learn_rails">Learn_Rails
subreddit</a>. This will allow other
people running into your issue (and not just those following the Rails
Tutorial) to benefit from the discussion. You can also try asking your
question on the <a href="http://webchat.freenode.net/?channels=rubyonrails">Rails IRC channel
(#rubyonrails)</a> or
the <a href="http://www.railshotline.com/">Rails Hotline</a> to get live assistance
from other Rails programmers. For issues
deploying to <a href="http://heroku.com/">Heroku</a>, please contact <a href="http://support.heroku.com/">Heroku
technical support</a>.</p>

<p>When asking your question on any mailing list or forum, be sure to
include as much relevant information as possible. To maximize your chances
of a helpful reply, I especially recommend the article <a href="http://www.catb.org/esr/faqs/smart-questions.html">How To Ask Questions The Smart
Way</a> by <a href="http://www.catb.org/esr/">Eric
Raymond</a>.</p>

<h3 id="contact">Contact</h3>

<p>I can be reached by email at admin at railstutorial dot org.</p>

</div>
</div>
</div>
<div class='emailPitch' id='bookEmailModal'>
<a href="javascript://" class="emailSignupClose" onClick="closeEmailPops()">x</a>
<strong>ENTER YOUR EMAIL</strong>
<p>You will be emailed a link to download the book files.</p>
<div class='j_followBookForm'><form accept-charset="UTF-8" action="https://www.softcover.io/follow/28fdb94f/ruby_on_rails_tutorial_3rd_edition" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
<!-- %input{name: "name", type: "text", placeholder: "YOUR NAME"} -->
<input name='email' placeholder='YOUR EMAIL ADDRESS' type='text'>
<input class='greyButton optClick_follow' type='submit' value='Follow Book'>
</form>

</div>
</div>
<div id='bookCTA'>
<a href="javascript://" id="ctaBuy"><button class='attention'>Buy Now</button>
</a><a href="javascript://" id="ctaNext"><button class='dark'>Next Section: About the Author</button>
</a></div>
<script>
  marketingCTA();
</script>

</div>
</div>
<div class='footer clearfix'>
<div class='wrapper' id='hide_chromeFooter'>
<em>powered by</em>
<a href="http://www.softcover.io" class="logo"><img alt="Logo_foot" src="https://www.softcover.io/assets/logo_foot-39da4a3be1566a91864f2712656b404e.png" />
</a></div>
</div>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0023/6713.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<script type="text/javascript">
  var _sf_async_config = { uid: 9895, domain: 'softcover.io', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>

<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/54eea5d20a23b37d87000040.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>

</body>
</html>
