<p class="ex">
  <div class="span6 offset3">
   <%= form_for(@micropost) do |f| %>
   

      <%= f.label :name %>
      <%= f.text_field :content %>
     </a>


   </p>

 <a class="btn"> <%= f.submit "Save changes"%></a>
    
  <% end %>  </div>