
  
  <footer class="footer">
  <div id="footer-top">
    <div class="container">
      <div class="mainFooter">
        <div class="col-md-2 col-lg-2">
          <a href="/">
            <img src="http://cdn.incubout.com/static-www/images/logo-footer.png" alt="logo" />  
          </a>
        </div>
        <div class="col-md-2 col-lg-2">
      
        </div>
   

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="legalInfo">
            
          </div>
        </div>
        <div class="col-lg-2">
          <div class="thumbnail">
            <img src="http://cdn.incubout.com/static-www/images/mapworld.png"/>
          </div>  
        </div>
        <div class="col-lg-5">
          <p>Over $5 billion in transactions since 2004</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 centrarIcono flags">
        
        <ul class="flag-list">
          <li><a title="US version" href="/us"><img src="http://cdn.incubout.com/static-www/images/flags/US.png"/></a></li>
          <li><a title="AU version" href="/au"><img src="http://cdn.incubout.com/static-www/images/flags/au.png"/></a></li>
          <li><a title="IN version" href="/in"><img src="http://cdn.incubout.com/static-www/images/flags/IN.png"/></a></li>
          <li><a title="ZA version" href="/za"><img src="http://cdn.incubout.com/static-www/images/flags/ZA.png"/></a></li>
          <li><a title="DE version" href="/de"><img src="http://cdn.incubout.com/static-www/images/flags/DE.png"/></a></li>
          <li><a title="NG version" href="/ng"><img src="http://cdn.incubout.com/static-www/images/flags/NG.png"/></a></li>
          <li><a title="PH version" href="/ph"><img src="http://cdn.incubout.com/static-www/images/flags/PH.png"/></a></li>
          <li><a title="TR version" href="/tr"><img src="http://cdn.incubout.com/static-www/images/flags/TR.png"/></a></li>
          <li><a title="FR version" href="/fr"><img src="http://cdn.incubout.com/static-www/images/flags/fr.png"/></a></li>
          <li><a title="UK version" href="/uk"><img src="http://cdn.incubout.com/static-www/images/flags/uk.png"/></a></li>
          <li><a title="IE version" href="/ie"><img src="http://cdn.incubout.com/static-www/images/flags/ie.png"/></a></li>
          <li><a title="NZ version" href="/nz"><img src="http://cdn.incubout.com/static-www/images/flags/nz.png"/></a></li> 
          <li><a title="CA version" href="/ca"><img src="http://cdn.incubout.com/static-www/images/flags/ca.png"/></a></li>
          <li><a title="KE version" href="/ke"><img src="http://cdn.incubout.com/static-www/images/flags/ke.png"/></a></li>
          <li><a title="NA version" href="/na"><img src="http://cdn.incubout.com/static-www/images/flags/na.png"/></a></li>
          <li><a title="SG version" href="/sg"><img src="http://cdn.incubout.com/static-www/images/flags/sg.png"/></a></li>
          <li><a title="UG version" href="/ug"><img src="http://cdn.incubout.com/static-www/images/flags/ug.png"/></a></li>
          <li><a title="DZ version" href="/dz"><img src="http://cdn.incubout.com/static-www/images/flags/dz.png"/></a></li>
          <li><a title="TN version" href="/tn"><img src="http://cdn.incubout.com/static-www/images/flags/tn.png"/></a></li>
          <li><a title="MA version" href="/ma"><img src="http://cdn.incubout.com/static-www/images/flags/ma.png"/></a></li>
          <li><a title="PK version" href="/pk"><img src="http://cdn.incubout.com/static-www/images/flags/pk.png"/></a></li>
          <li><a title="AE version" href="/ae"><img src="http://cdn.incubout.com/static-www/images/flags/AE.png"/></a></li>
          <li><a title="EG version" href="/eg"><img src="http://cdn.incubout.com/static-www/images/flags/EG.png"/></a></li>
          <li><a title="QA version" href="/qa"><img src="http://cdn.incubout.com/static-www/images/flags/QA.png"/></a></li>
          <li><a title="SA version" href="/sa"><img src="http://cdn.incubout.com/static-www/images/flags/SA.png"/></a></li>
          <small>
    <a href="http://vk.ru/">chat</a>
    by Oleg Prin
  </small>
        </ul>
      </div>
    </div>
  </div>      
        
</footer>




  